# pmtr.conf
# This is an upstart(8) configuration file.
# upstart is the init replacement on Ubuntu.
# This file gets installed in /etc/init/pmtr.conf
#
# to start the service manually, "service pmtr start".
#
# The syntax for this file is documented in init(5).
# The upstart log messages go to /var/log/daemon.log

description	"pmtr process manager"

start on runlevel [2345]
stop on runlevel [!2345]

respawn

exec __SYSBINDIR__/pmtr -F
